{% extends "base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'js/habit-chart.js' %}"></script>
{% endblock %}


{% block content %}




<h2>Habit Detail</h2>

<div class="">
  <div class="flex">
  <p class="b mid-gray f4 ml0 mv1">{{ habit.name }}</p>
  <!-- # of records you have  -->
    <div class="flex">
    <i class="ml2 pt2 yellow fas fa-fire"></i><p class="ml1 f7 mb3">{{ queryset.count }} day</p>
    </div>
  </div>

  <p class="f5 ml0 mv1">goals: {{ habit.goal}} {{habit.amount}} per day</p>
  <p class="f7 gray ml0 mv1">created at: {{ habit.created_date}}</p>
  <br>
  <br>
</div>    

<section class="flex">
  <div>
    <div class="flex">
      <h3>Records</h3>
    </div>
    
    <a class="f5 gray b" href="{% url 'add_habit_record' pk=habit.pk %}"> + Add a record</a>
    <ul class ="">
        {% for record in habit.records.all %}
          <li class= "ml0 mt2 mid-gray f5 mt" >{{ record.date }} -- {{record.performance}} {{record.amount}}
            <a class="ml1 f5 light-blue" href="{% url 'edit_record' id=habit.id record_pk=record.pk %}"><i class="fas fa-edit"></i></a>
            {% if record.performance >= habit.goal %}
            <i class="ml2 green fas fa-flag-checkered"></i>
            {% endif %}

          </li>
          
        {% endfor %}
    </ul>
    
    
</div>

<div class="ml6">
  <canvas id="myChart" width="350" height="350"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: "outcome",
            data: {{data|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>
  
  
</div>

</section>

{% endblock content %}